@import "functions";
@import "mixins/breakpoints";
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

@for $i from 1 through length(map-keys($grid-breakpoints)) {
  $name: nth(map-keys($grid-breakpoints), $i);
  @include media-breakpoint-only($name, $grid-breakpoints) {
    .product-item {
      width: ( 100 / $i ) + %;
      height: 100%;
      padding: 8px;
      box-sizing: border-box;
    }
  }
}
