<mat-paginator *ngIf="productListings" 
  [length]="productListings.count||0"
  [pageSize]="productListings.pageSize"
  [pageIndex]="productListings.pageIndex"
  [pageSizeOptions]="pageSizeOptions||[]"
  (page)="onPaginatorChanges($event)">
</mat-paginator>

<div style="display:flex;flex-direction:row;flex-wrap: wrap;">
  <div *ngFor="let item of productListings.items; index as i;" class="product-item">
    <article class="example-card">
      <a [routerLink]="['/product', item.handle]" style="text-decoration: none;">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar *ngIf="item.images.length>0" [ngStyle]="{'background-image':'url('+item.images[item.images.length-1].src+')','background-size':'cover'}"></div>
          <mat-card-title style="font-size:14px;">{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{item.product_type}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="item.images.length>0" src="{{item.images[0].src}}" alt="{{item.handle}}">
        <mat-card-content>
<!--           <p [innerHTML]="item.body_html"></p> -->
          <span>{{item.variants[0].price | currency}}</span>
        </mat-card-content>
<!--         <mat-card-actions> -->
<!--           <button mat-button>LIKE</button> -->
<!--           <button mat-button>SHARE</button> -->
<!--         </mat-card-actions> -->
      </mat-card>
      </a>      
    </article>
  </div>
</div>