<div class="container">
   <header class="banner-header">
     <mat-toolbar style="background: white;">
       <mat-toolbar-row>
         <h1>{{title}}</h1>
       </mat-toolbar-row>
     </mat-toolbar>
   </header>
   
   <nav class="navbar">
     <mat-toolbar color="warn" style="min-height: auto;">
      <mat-toolbar-row style="height: auto;">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        <a mat-button routerLink="/dashboard">Dashboard</a> 
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a> 
        <a mat-button routerLink="/product/0" routerLinkActive="active">Product Detail</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <div class="main">  
    <main role="main">
      <h2>Products</h2>
      <router-outlet></router-outlet>
    </main>
    
    <!-- And here is our main footer that is used across all the pages of our website -->
  
    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>
  </div>
</div>